
@font-face {
  font-family: 'custom-icons';
  src:  url('~assets/fonts/custom.eot?ufwbqp');
  src:  url('~assets/fonts/custom.eot?ufwbqp#iefix') format('embedded-opentype'),
    url('~assets/fonts/custom.ttf?ufwbqp') format('truetype'),
    url('~assets/fonts/custom.woff?ufwbqp') format('woff'),
    url('~assets/fonts/custom.svg?ufwbqp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'custom-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-bold-tall-down:before {
  content: "\e90c";
}
.icon-arrow-bold-tall-up:before {
  content: "\e90d";
}
.icon-edit:before {
  content: "\e903";
}
.icon-rotate:before {
  content: "\e900";
}
.icon-dollar:before {
  content: "\e901";
}
.icon-checkmark:before {
  content: "\e908";
}
.icon-cross:before {
  content: "\e90b";
}
.icon-plus:before {
  content: "\e909";
}
.icon-minus:before {
  content: "\e90a";
}
.icon-spin:before {
  content: "\e902";
}
.icon-clock:before {
  content: "\e90e";
}
.icon-arrow-bold-down:before {
  content: "\e904";
}
.icon-arrow-bold-left:before {
  content: "\e905";
}
.icon-arrow-bold-right:before {
  content: "\e906";
}
.icon-arrow-bold-up:before {
  content: "\e907";
}
.icon-add:before {
  content: "\e145";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-dot:before {
  content: "\e3a6";
}
.icon-brightness:before {
  content: "\e3a8";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-info:before {
  content: "\e88e";
}
.icon-info_outline:before {
  content: "\e88f";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-print:before {
  content: "\e8ad";
}
.icon-sync:before {
  content: "\e627";
}
.icon-play_arrow:before {
  content: "\e037";
}
.icon-play_circle_outline:before {
  content: "\e039";
}
.icon-replay:before {
  content: "\e042";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-wb_sunny:before {
  content: "\e430";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-lock:before {
  content: "\f023";
}
.icon-font:before {
  content: "\f031";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-gears:before {
  content: "\f085";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-trash:before {
  content: "\f1f8";
}
